<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="springHelloWorld" class="com.ecworking.init.simple.SpringHelloWorld"></bean><!--将这个bean加入到spring的ioc容器-->
    <bean id="strutsHelloWorld" class="com.ecworking.init.simple.StrutsHelloWorld"></bean>

    <bean id="helloWorldService" class="com.ecworking.init.simple.HelloWorldService">
        <property name="helloWorld" ref="springHelloWorld"></property>
    </bean>
</beans>